<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>文件上传</title>
</head>
<body>
	<form action="upload.do" method="post" enctype="multipart/form-data">  
		<input type="file" name="file" /> 
		<input type="submit" value="Submit" />
	</form>  
	</body>
</html>