<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wheel.mybatis.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.wheel.mybatis.model.Permission">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="permission" jdbcType="CHAR" property="permission" />
    <result column="name" jdbcType="CHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    permission_id, permission, name
  </sql>
</mapper>